@import "reset.scss";
@import "vars.scss";
@import "header.scss";
@import "home.scss";
@import "footer.scss";
@import "liste-recettes.scss";
/***** Work pour titre font-family: 'Work Sans', sans-serif; *****/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
/***** open pour texte  font-family: 'Open Sans', sans-serif; *****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/***** Corinthia pour logo *****/
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
.hidden{
    display: none;
}
h2, h4, h4, li{
    font-family: 'Work Sans', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Corinthia', cursive;
}