/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body > header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.8fr 0.4fr 0.2fr 0.1fr;
  grid-template-rows: 10vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
body > header > h1 {
  align-self: center;
  justify-self: center;
  grid-column: 2/3;
  font-size: 4rem;
  color: #8B0000;
  font-weight: 700;
  font-family: "Corinthia", cursive;
}
body > header > nav {
  grid-column: 4/5;
  display: flex;
}
body > header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header > nav > ul > li {
  font-family: "Work Sans", sans-serif;
  padding: 5px 0;
}
body > header > nav > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  body > header > nav > ul > li > a {
    color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body > header > nav > ul > li > a {
    color: #ffffff;
  }
}
body > header > nav > ul > li:hover {
  transform: translateY(-4px);
}
@media (prefers-color-scheme: light) {
  body > header > nav > ul > li:hover {
    border-bottom: 4px solid #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body > header > nav > ul > li:hover {
    border-bottom: 4px solid #ffffff;
  }
}
body > header > ul {
  grid-column: 6/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header > ul > li > a {
  font-size: 1.4rem;
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  body > header > ul > li > a {
    color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body > header > ul > li > a {
    color: #ffffff;
  }
}
body > header > ul > li:hover {
  transform: translateY(-4px);
}
body > header > ul > li:hover > a {
  color: grey;
}

#home > section:nth-of-type(1) {
  height: 70vh;
  background-image: url("https://picsum.photos/id/292/500/300");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home > section:nth-of-type(1) > h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #ffffff;
}
#home > section:nth-of-type(1) > p {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}
#home > section:nth-of-type(2) {
  background-color: gainsboro;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
}
#home > section:nth-of-type(2) > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.article {
  width: 20vw;
  display: grid;
  grid-template-rows: 1fr 0.8fr 0.2fr;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  margin: 50px;
}
.article > header > figure {
  width: 100%;
}
.article > header > figure > img {
  width: 100%;
}
.article > section > h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}
.article > section > p {
  font-size: 1.2rem;
}
.article > footer {
  display: flex;
  justify-content: center;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.footer1 {
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  font-family: "Work Sans", sans-serif;
}

.f-titre {
  text-align: center;
  font-family: "Corinthia", cursive;
  font-size: 4rem;
  font-weight: 700;
  color: #8B0000;
}

.f-article1 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.f-list1 {
  display: flex;
  grid-column: 2/3;
  list-style: none;
  text-align: center;
  justify-content: space-between;
}

.f-li1 {
  margin: 0;
  text-decoration: none;
}

.f-article2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2vh;
}

.f-list2 {
  display: flex;
  grid-column: 2/3;
  list-style: none;
  text-align: center;
  justify-content: space-between;
}

.f-li2 {
  margin: 0px 5px;
}

body .footer1 .f-article1 .f-list1 .f-li1 a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: black;
}

body .footer1 .f-article2 .f-list2 .f-li2 a {
  color: #262626;
  font-size: 17px;
  border-radius: 50px;
  background-color: #e6e3e2;
}

body .footer1 .f-article2 .f-list2 .f-li2 a span {
  width: 48px;
}

.f-titre2 {
  text-align: center;
  padding-top: 3vh;
}

/***** Work pour titre font-family: 'Work Sans', sans-serif; *****/
/***** open pour texte  font-family: 'Open Sans', sans-serif; *****/
/***** Corinthia pour logo *****/
.hidden {
  display: none;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
