/* Error: expected "{".
 *    ,
 * 28 | >>>>>>> 20f7610c02734d1b6f6405327d9326755c5e5038
 *    |                                                 ^
 *    '
 *   assets/styles/sass/style.scss 28:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 28 \2502  >>>>>>> 20f7610c02734d1b6f6405327d9326755c5e5038\a    \2502                                                  ^\a    \2575 \a   assets/styles/sass/style.scss 28:49  root stylesheet';
}
